<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="form-group">
          <label for="email">Mail</label>
          <input
            type="email"
            id="email"
            class="form-control"
            name="email"
            required
            email
            ngModel
            #email="ngModel">
          <p class="help-block" *ngIf="!email.valid && email.touched">Enter a valid mail id</p>
        </div>
        <div class="form-group">
          <label for="subscriptions">Subscriptions</label>
          <select
            name="subscriptions"
            id="subscriptions"
            class="form-control"
            [ngModel]="user.subscriptions">
            <option value="basic">Basic</option>
            <option value="advanced">Advanced</option>
            <option value="pro">Pro</option>
          </select>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
            required
            ngModel
            #pwd="ngModel">
          <p class="help-block" *ngIf="!pwd.valid && pwd.touched">Password cannot be blank</p>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="col-md-6" *ngIf="submitted">
        <h3>Form Data:</h3>
        <p>Email ID: {{user.email}}</p>
        <p>Subscription: {{user.subscriptions}}</p>
        <p>Password: {{user.password}}</p>
      </div>
    </div>
  </div>
</div>
